<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.relativecoding.mycartecommerce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aapkatradition"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aapkatradition"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCartECommerce">
        <activity android:name=".Activities.BuyingActivity"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SignInWithPhoneActivity" />
        <activity
            android:name=".Activities.ItemDetailActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.MyCartECommerce.NoActionBar" />
        <activity android:name=".SignInActivity"></activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>